.about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid lightgray;
}

.inner-about {
    display: flex;
    max-width: 823px;
    width: 80%;
    background-color: #2fb299;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.card-person {
    background-color: #2fb299;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 40px;
    flex-direction: column; 
   

}
 .card-person > img { 
    background-color: #2fb299;
    max-width: 180px;
    max-height: 206px;
}

.card-person > h2 {
    /* width:100%; */
    display: inline-block;
    font-family: Maven-Pro-Regular;
    color:white;
    font-size: 40px;
}

.about-text{
    font-family: Lato-Regular;
    color: white; 

}


