.displayFlex{
    display: flex;
}

.gallery{
    width: 100%;
}

.galleryList{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.galleryItem{
    display: flex;
    flex-direction: row;
    border: 3px solid  lightgray;
    border-bottom: 0px;
    width: 100%;
}

/* SIZES MATCH FOR MOBILE FIRST SMALLEST PHONE (340PX), SHOULD BE CHANGED IN MEDIA QUERIES */
/* IF LEAVING ONLY "imageItem" WIDTH:33.3333% IT STAYS GOOD TILL STRECH OF 650px WIDTH(PICTURE DOESN'T STAY SQUARE) */
.imageItem{
    width: 33.3333%;
    /* min-width: 33.3333%; */
    /* max-width: 162px; */
    /* max-height: 168px; */
    /* height: auto; */
    /* min-height: 60px;
    max-height: auto; */
}

.imageItem img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* max-height: 168px; */
    /* max-width: 162px; */
    border-right: 3px solid  lightgray;
    border-bottom: 3px solid  lightgray;
    margin:  0px auto;
}

.textItem{
    align-self: center;
    width: 77.7777%; 
    max-width: 77.7777%; 
    font-size: 1.2em;
    font-family: Lato-Bold;
    color: white; 
    font-weight: bold;
    margin: 8px;
}

.searchSector{
    align-self: center;
    font-family: Lato-Regular;
    color: white;    
}

.searchInput{
    background-color:lightgray;
    margin: 0px auto;
    border: transparent;
    color: inherit;    
    border-bottom: 1px solid white;
    outline: none;
}