.memeEditor{
    width:95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Lato-Bold;
    color: white;
    padding-bottom: 30px;
    padding-top: 40px;
}

.memeEditor h2{
    font-size: 3em;
    padding: 5px 0px;
    padding-bottom: 20px;
}
.backToGallery{
    font-size:1.3em;
    padding: 5px 20px;
    border: 1.5px solid white;
    border-radius: 25px;
    background: #1e6151;
}
.toolBar{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;   
    padding: 5px 0px;
    /* margin: 5px 0px; */
}

.colorEditor{
    color: rgb(221, 81, 81);
}

.canvasInEditor{
    width: 100%;
    border: 6px solid #1e6151;
    border-radius: 15px;
}

.canvas-continer{
    width: 50%;
    margin: 0 auto;    
    margin: 5px 0px;
    position: relative;


}

.canvas-text{
    margin-top: 15px;
    width: 100%;
    background: #1e6151;
    padding: 5px 2px;
    border: 0px;
    border-bottom: 3px solid white;
    border-radius: 25px;
    color: white;
}

/* ////////CANVAS EDITOR POPUPS /////////// */

.memeEditorPopup{
    font-size: 0.8em;
    font-family: Lato-Regular;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 10px 0;
    /* position: fixed;
    top :0;
    bottom:0;
    left:0;
    right:0; */
    background-color: #1e6151;
}

.dropbtn {
    background-color: #279b80;
    color: white;
    padding: 5px;
    font-size: inherit;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--navBgColor);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #279b80;
}
.containerGallery{
    width: 80%;
}

.dropdown-content a:hover {background-color: #1e6151}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #1e6151;
}

.textEditorButtons{
    margin: 10px 0;
}

.textEditorButtons  span{
    padding: 5px 10px;
    border: 1px solid white;
    color: white;
}

.colorEditorPopup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-family: Lato-Bold;
    /* margin: 10px 0; */
    padding: 10px 0;
    /* position: fixed; */
    /* top :0; */
    /* bottom:0; */
    /* left:0; */
    /* right:0; */
    background-color: #1e6151;
    outline: none;
}
.colorEditorPopup span{
    padding-bottom: 10px;
}

.textUppercaseEditor input{
    /* padding: 2px 20px; */
}

.colorEditorPopup:changed{
    outline: none;
}

.colorEditorPopup:input{
    outline: none;
}

.colorPicker{
    border-radius: 25px;
    border-color: white;
    background: transparent;
}

.colorEditorButtons{
    margin: 10px 0;
}

.colorEditorButtons span{
    padding: 5px 10px;
    border: 1px solid white;
    color: white;
}
 .textMoveLines{
     padding: 5px 0;
     margin: 5px 0;
 }

.iconSpace{
    padding: 1px 4px;
}

.saveButton{
    text-decoration: none;
    color: inherit;
    margin: 0 auto;
}